@mixin flex-tandem{
  display: flex;
  flex-direction:column;

}

@mixin flex-row{
  display: flex;
  flex-direction:row;
}

@mixin flex-between{
  display: flex;
  justify-content:space-between;
}


.middle-center{
  display: flex;
  justify-content:center;
  align-items:center;
}

.middle{
  display: flex;
  align-items:center;
}

.center{
  margin: 0 auto;
}
