@mixin border_line {
  margin-top: 1px;
}

@mixin full-size{
  width: 100%;
  height: 100%;
}

@mixin status($color){
  padding: 5px 6px;
  margin-top: 8px;
  font-size: 12px;
  height: 22px;
  color: white;
  border-radius: 2px;
  display: inline-block;
  background-color: $color;
}

@mixin arrow-right{
  position: absolute;
  right: 16px;
}
