
// 太字
.bold{
  font-weight: 600;
}


// 背景色
.back-gray{
  background-color:#eee;
}

.back-silver {
  background-color:#fafafa;
}

.back-red{
  background-color: #ea352d;
}


// フォント色
.font-gray{
  color: #888;
}

.font-white{
  color: #fff;
}


// ステータスアイコン
@mixin status($color){
  padding: 5px 6px;
  margin-top: 8px;
  font-size: 12px;
  height: 22px;
  color: white;
  border-radius: 2px;
  display: inline-block;
  background-color: $color;
}

.status-gray{
  @include status(gray);
}

.status-blue{
  @include status(blue);
}

.status-red{
  @include status(red);
}
