.app-baner.clearfix
  .app-baner__content
    .app-baner__content__inner
      %h2.app-baner__content__inner__text スマホでかんたんフリマアプリ
      %p.app-baner__content__inner__text 今すぐiPhoneを窓から投げろ！
      %ul
        %li
          %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?206587138", width: "68"}/
        %li
          %a{href:"https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8",target:"_blank"}
          %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?206587138", width: "133",height:"40"}
        %li
          %a{href:"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",target: "_blank"}
          %img{alt: "", height: "40",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?206587138", width:"133"}/
    .app-baner__content__spimg
      %img{alt: "",src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?206587138",id:"sp",height: "260px"}/


.footer__under
  .footer__under__map
    %ul.flex-between
      %li.footer__under__map--list
        %p メルカリについて
        %ul.flex-tandem
          %li メルカリ利用規約／有償ポイントに関する特約
          %li プライバシーポリシー
          %li コンプライアンスポリシー
          %li 個人データの安全管理に係る基本方針
          %li 特商法の表記／資金決済法に基づく表示
          %li 法令遵守と犯罪抑止のために
          %li 会社概要／採用情報
      %li.footer__under__map--list
        %p メルカリをみる
        %ul.flex-tandem
          %li カテゴリー一覧／ブランド一覧／出品地域一覧
          %li 公式ブログ／公式Twitter／公式Facebook
      %li.footer__under__map--list
        %p ヘルプ＆ガイド
        %ul.flex-tandem
          %li メルカリガイド
          %li お知らせ／メルカリボックス
          %li らくらくメルカリ便／ゆうゆうメルカリ便
          %li 大型らくらくメルカリ便
          %li 車体取引ガイド
          %li 返品・返金ポリシー
          %li メルカリあんしん・あんぜん宣言
          %li 偽ブランド品撲滅への取り組み
      %li.footer__under__map--list
        %p 国
        %ul.flex-tandem
          %li United States／United Kingdom／日本／こりん星


  .footer__under__copyright
    %a.footer__under__copyright--logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari", height: "33", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?206587138", width: "124"}/
    %p.footer__under__copyright--text
      %small © 2018 Mercari
