.left-content
  .left-content__bar
    %ul
      %li
        %a マイページ
      %li
        %a お知らせ
      %li
        %a やることリスト
      %li
        %a いいね！一覧
      %li
        %a 出品する
      %li
        %a 出品した商品-出品中
      %li
        %a 出品した商品-取引中
      %li
        %a 出品した商品-売却済
      %li
        %a 購入した商品-取引中
      %li
        %a 購入した商品-取引中
      %li
        %a ニュース一覧
      %li
        %a 評価一覧
      %li
        %a ガイド
      %li
        %a お問い合わせ
  .left-content__bar
    %h4 売上・ポイント
    %ul
      %li
        %a 売上・振込申請
      %li
        %a ポイント
  .left-content__bar
    %h4 設定
    %ul
      %li
        %a プロフィール
      %li
        %a 住所変更
      %li
        %a 支払い方法
      %li
        %a メール/パスワード
      %li
        %a 本人情報
      %li
        %a 電話番号の確認
      %li
        %a ログアウト
