- breadcrumb :mypage_card
.main-content
  = render 'modules/mypage-sidebar'
  .abeshi-right-content
    .abeshi-right-content__box.middle-center
      %h2.bold 支払い方法
    .abeshi-right-content__box
      .abeshi-right-content__box__contena
        %h4.abeshi-right-content__box__contena__card--text.bold クレジットカード一覧
        = link_to mypage_card_create_path do
          .link-bar.back-red.font-white.abeshi-right-content__box__contena__card--bar
            %i.fa.fa-credit-card
            クレジットカードを追加する
    .abeshi-right-content__box.pay-way
      = link_to "支払い方法について＞", root_path,class: "pay-way--text"
