.large-content__box.bold
  .large-profile__content.middle
    = render 'modules/mypage-sidebar'
    .profile-box
      %h2.profile.head.middle-center プロフィール
      %input.profile{name: "__csrf_value", type: "hidden", value: ""}/
      .profile-icon.middle-center{ src:""}
        %img.content{ src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png", }/
        %input.nickname{name: "nickname", placeholder: "例)AYA☆セール中", type: "text", value: ""}/
      .message-profile__content
        %textarea.message-profile__default{name: "introduction", placeholder: "例）こんにちは☆ "}
        %button.btn__default.btn-profile.font-white.back-red{type:"submit"} 変更する
