.logout.main-content
  = render 'modules/mypage-sidebar'
  .logout-content.middle-center
    = link_to destroy_user_session_path, class: "logout-content-inner middle-center font-white back-red", method: :delete do
      %buttun.logout-btn.font-white ログアウト
