
.confirm-buy{
  margin:32px 0 ;
}

.width-320{
  width: 320px;
}

.abeshi-right-content__box{

  &--price{
    @include flex-row;
    justify-content:center;
    &--postage{
      align-self: flex-end;
      margin-left: 8px;
    }
  }
  &--payment{
    @include flex-between;
  }
  &__inner-address{
    margin:24px 0;
    &--text{
      margin: 8px 0;
      line-height:1.4;
    }
    &--change{
      text-align: right;
    }
  }
}

#payjp_checkout_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  input {
    width: 100% !important;
    height: 100% !important;
    background: #ea352d !important;
    border: 1px solid #ea352d !important;
    font-size: 14px !important;
  }
}

img.visa_image {
  width: 26px;
  height: 20px;
  object-fit: cover;
}

.back-white {
  background-color: #fff;
  border: 1px solid #ccc;
}

.right-content__box--img {
  width: 148px;
  height: 148px;
  object-fit: cover;
}

.text-center {
  text-align: center;
  line-height: 21px;
}

a.buy_mypage {
  display: block;
  margin-top: 16px;
  color :#0099e8;
}

.margin-30px {
  margin: 30px;
}

.margin-B10px {
  padding-bottom: 10px;
}

.content-check-box{
  display: flex;
  .check-box {
    line-height: 20px;
    font-size: 21px;
  }
  p {
    line-height: 20px;
    padding-left: 5px;
  }
}
