.category-main {
  width: 75vw;
  margin: 0 auto 20px;
  h1 {
    margin: 24px 0 8px;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    &-item {
      width: 188px;
      height: 298px;
      margin: 0 20px 20px 0;
      background-color: #fff;
      position: relative;
      a {
        .category-image {
          width: 188px;
          height: 188px;
          object-fit: cover;
        }
        .category-content {
          width: 188px;
          height: 110px;
          padding: 16px;
          position: relative;
          p.category-name {
            font-size: 16px;
          }
          p.category-price {
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            bottom: 24px;
          }
          p.category-tax {
            font-size: 12px;
            position: absolute;
            bottom: 10px;
          }
        }
      }
    }
  }
}
