header.sub_header {
  height: 128px;
  width: 100vw;
  h1 {
    padding-top: 40px;
    a {
      height: 49px;
      width: 185px;
    }
  }
}

.exhibit_wrapper {
  width: 700px;
  margin: 0 auto;
  .main__exhibit {
    &__title {
      height: 97px;
      background-color: #fff;
    }
    &__box {
      padding: 40px;
      @include border-line;
      background-color: #fff;
      position: relative;
      &__text {
        height: 245px;
        p.exhibit_text {
          margin-top: 8px;
        }
      }
      .upload_image_box {
        height: 184px;
        width: 620px;
        background-color: white;
        @include flex-row;
        &--img{
          @include flex-row;
          li{
            width: 140px;
            border: 1px solid #ccc;
            margin-right:20px;
          }
          &--image{
              height: 130px;
            }
          &--buttun{
            height: calc(184px - 130px);
            @include flex-row;
            a{

            }
          }
        }
        &--text{
          text-align: center;
          @include flex-tandem;
          justify-content:center;
          flex-grow:4;
          border: 1px dashed #ccc;
        }
      }
      &__name {
        height: 70px;
        &__input {
          margin-top: 8px;
          height: 56px;
          input.exhibit_input {
            width: 620px;
            height: 48px;
            @include input-box;
            @include font-height;
          }
        }
      }
      &__detail {
        height: 164px;
        margin-top: 40px;
        &__textarea {
          margin-top: 8px;
          height: 142px;
          width: 100%;
          textarea.exhibit_textarea {
            width: 100%;
            height: 134px;
            @include input-box;
            @include font-height;
          }
        }
      }
      .exhibit_btn-box {
        line-height: 1.5;
      }
      input.exhibit_btn {
        width: 100%;
        height: 48px;
        border: 1px solid #ea352d;
        margin-top: 40px;
        cursor: pointer;
      }
      button.exhibit_return {
        width: 279px;
        height: 50px;
        background: #aaa;
        border: 1px solid #aaa;
        display: block;
        margin: 24px auto 0;
        cursor: pointer;
      }
    }
    &__halfbox {
      @include border-padding;
      @include flex-between;
      background-color: #fff;
      @include border-line;
      &__item {
        width: 400px;
        &__price {
          height: 72px;
          @include border-line;
          @include flex-between;
          position: relative;
          border-bottom: 1px solid #ccc;
          &__left {
            height: 48px;
            width: 100px;
            p.exhibit_price {
              line-height: 48px;
            }
          }
          &__right {
            height: 48px;
            @include flex-between;
            position: absolute;
            right: 0;
            p.exhibit_enn {
              font-size: 12px;
              font-weight: 100;
              line-height: 48px;
              margin-right: 5px;
            }
            input.price__input {
              width: 160px;
              height: 48px;
              @include input-box;
              @include font-height;
              text-align: right;
            }
          }
        }
        &__cost {
          width: 400px;
          height: 63px;
          border-bottom: 1px solid #ccc;
          @include flex-between;
          p.exhibit_cost {
            line-height: 63px;
            font-size: 13px;
          }
        }
        &__salary {
          width: 400px;
          height: 83px;
          @include flex-between;
          p.exhibit_salary {
            line-height: 83px;
            font-size: 16px;
          }
          p.exhibit_salary.price {
            font-size: 34px;
          }
        }
      }
    }
  }
}

.single__footer {
  height: 220px;
  width: 100vw;
  &__box {
    height: 100%;
    width: 456px;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
    ul {
      font-size: 12px;
      padding: 0 40px;
      @include flex-between;
      li {
        a {
          color: black;
        }
      }
    }
    a.thin_mercari {
      img.mercari_thin {
        height: 65px;
        width: 80px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: 62px;
      }
    }
    p.small {
      padding-top: 4px;
      font-size: 9px;
      text-align: center;
      position: absolute;
      bottom: 40px;
      right: 0;
      left: 0;
    }
  }
}

span.exhibit_must {
  margin: 0 0 12px 8px;
  padding: 3px 4px;
  border-radius: 2px;
  height: 19px;
  font-size: 12px;
  background-color: #ea352d;
  vertical-align: top;
}

a.help {
  display: inline-block;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  background-color: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.size{
  display: none;
}

.category.size {
  margin-top: 40px;
}

.category.brand {
  margin-top: 40px;
}

input.exhibit_select {
  width: 100%;
  height: 48px;
  background-color: #fff;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

span.exhibit_should {
  margin: 0 0 12px 8px;
  padding: 3px 4px;
  border-radius: 2px;
  height: 19px;
  color: #fff;
  font-size: 12px;
  background-color: #ccc;
  vertical-align: top;
}

.delivery_hide {
  margin-top: 40px;
  display: none;
}

.exhibit_select {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  background-color: #fff;
  -webkit-appearance: none;
  padding: 0 16px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
}

.select_box {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  position: relative;
}

i.fa.fa-angle-down.exhibit {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 27px;
  color: #888;
}

.top {
  margin-top: 40px;
}


#brand_options{
  box-shadow: 0 2px 4px silver;
  margin-top: 8px;
  max-height:230px;
  overflow: scroll;
}
.brand_options_list{
  height: 46px;
  padding:16px 8px;
  &:hover{
    background-color:#0099e8;
    color: white;
  }
}

#openModal2 {
 position: relative!important;
 top: 0!important;
 left: 0!important;
 transform: inherit!important;
}

.modalArea2 {
 display: none;
 position: fixed;
 z-index: 10;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.modalBg2 {
 width: 100%;
 height: 100%;
 background-color: rgba(30,30,30,0.7);
 }

.modalinner2 {
 position: absolute;
 top: 25%;
 left: 50%;
 transform:translate(-50%,-50%);
 width: 600px;
 background-color: white;
}

.modalhead{
 line-height: 80px;
 text-align: center;
 font-size: 16px;
 border-bottom: 1px solid #eee;
}

.sell-modal-body{
 padding:40px;

}

.look{
 text-align: center;
}

.btn-syuppin{
margin: 40px auto 0;
background-color: #ea352d;
border:#ea352d;
color: white;
display: block;
width: 100%;
line-height: 48px;
text-align: center;
}
.text-center2 {
color:#0099e8;
margin: 8px 0 0;
text-align: center;
}
