.app-baner{
  color: white;
  height:260px;
  width: 100vw;
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?78405350");
  &__content{
    height: 260px;
    width: 750px;
    margin:0 auto;
    @include flex-between;
    &__inner{
      width: 420px;
      align-self: center;
      p{
        font-size: 35px;
        padding-top: 10px;
      }
      ul{
        padding-top: 20px;
        @include flex-between;
      }
    }
    &__spimg{
      height: 260px;
    }
  }
}

.footer__under{
  color: white;
  background-color:rgb(33, 33, 33);
  width: 100vw;
  padding: 60px 0 ;
  &__map{
    width: 1026px;
    height: 276;
    margin: 0 auto;
    text-align: center;
    ul{
      @include flex-between;
    }
    &--list{
      @include flex-tandem;
      li{
        margin-top:16px;
      }
    }
  }
  &__copyright{
    display: flex;
    flex-direction:column;
    &--logo{
      width: 124px;
      margin: 40px auto 0;

    }
    &--text{
      margin-top: 8px;
      text-align: center;
    }
  }
}
