.main-header{
  text-align: center;
  &__inner {
    display: inline-block;
    padding: 8px 0 0 0;
    width: 1020px;
    &__top {
     @include flex-row;
      &__form {
        margin: 2px 0 0 10px;
        width: 100%;
        &__search-field {
          @include flex-row;
          border-radius: 5px;
          border: 1px solid #ccc;
          height: 35px;
          &__text-field {
            outline: 0;
            border-style: none;
            background-color: rgba(0,0,0,0);
            position: relative;
            left: 5px;
            width: 96%;
            font-size: 16px;
          }
          &__search-btn {
            border:none;
            background-color: transparent;
            font-size: 13px;
          }
        }
      }
    }
    &__nav-box {
     padding: 5px 0 0 0;
     line-height: 35px;
     @include flex-between;
      &__left{
        ul.category {
          list-style: none;
          display: flex;
          padding-left: 0;
          li.category__list {
            &:hover ul.category__first-child {
              display: block;
            }
          }
          ul.category__first-child {
            background-color: #f7f7f7;
            float: left;
            width: 240px;
            display: none;
            text-align: left;
            position: absolute;
            top: 85px;
            left: 210px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
            li.category__list__first {
              &:hover {
                background-color: red;
                color: white;
              }
              &:hover ul.category__second-child {
                display: block;
                color: black;
                position: absolute;
                top: 0px;
                left: 240px;
                width: 200px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
              }
              ul.category__second-child {
                background-color: #f7f7f7;
                display: none;
                text-align: left;
                li.category__list__second {
                   color: black;
                  &:hover{
                    background-color: #EEE;
                  }
                  &:hover ul.category__third-child {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 200px;
                    width: 280px;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
                  }
                }
                ul.category__third-child {
                  background-color: #f7f7f7;
                  display: none;
                  text-align: left;
                  li.category__list__third {
                    color: black;
                    &:hover{
                      background-color: #EEE;
                    }
                  }
                }
              }
            }
          }
          li {
            padding: 0 0 0 16px;
              &:hover ul.brand__first-child{
                display: block;
              }
            ul.brand__first-child{
              background-color: #f7f7f7;
              display: none;
              float: right;
              position: absolute;
              top: 85px;
              left: 380px;
              width: 200px;
              box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
              text-align: left;
              li {
                &:hover {
                  background-color: red;
                  color: white;
                }
              }
            }
          }
        }
      }
      &__right {
        ul.right {
          display: flex;
          flex-direction: row;
          li {
            padding: 0 0 0 16px;
            i {
              display: inline-block;
            }
            span {
              vertical-align:top;
            }
            .avater-image {
              border-radius: 20px;
              vertical-align: top;
            }
            .login-link {
             padding: 7px 10px;
             background-color: red;
             color: white;
             border-radius: 5px;
            }
            .registration-link {
              border:solid 1px;
              padding: 6px 10px;
              color: #0099e8;
              border-radius: 4px;
              &:hover{
                background-color: #0099e8;
                color: white;
                transition-property: all;
                transition: 0.2s linear;
              }
            }
          }
        }
      }
    }
  }
}
