.main-header{
  text-align: center;
  background-color: #FFF;
  &__inner {
    display: inline-block;
    padding: 8px 0 0 0;
    width: 1020px;
    &__top {
     @include flex-row;
      &__form {
        margin: 2px 0 0 10px;
        width: 100%;
        &__search-field {
          @include flex-row;
          border-radius: 5px;
          border: 1px solid #ccc;
          height: 35px;
          &__text-field {
            outline: 0;
            border-style: none;
            background-color: rgba(0,0,0,0);
            position: relative;
            left: 5px;
            width: 96%;
            font-size: 16px;
          }
          &__search-btn {
            border:none;
            background-color: transparent;
            font-size: 13px;
          }
        }
      }
    }
    &__nav-box {
     padding: 5px 0 0 0;
     line-height: 35px;
     @include flex-between;
      &__left{
        ul.category {
          list-style: none;
          display: flex;
          position: relative;
          padding-left: 0;
          li.category__list {
            &:hover ul.category__first-child {
              display: block;
            }
          }
          ul.category__first-child {
            background-color: #FFF;
            width: 240px;
            height: 500px;
            display: none;
            z-index: 50;
            text-align: left;
            position: absolute;
            top: 35px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
            li.category__list__first {
              &:hover {
                background-color: red;
                color: white;
              }
              &:hover ul.category__second-child {
                display: block;
                color: black;
                position: absolute;
                top: 0px;
                left: 240px;
                width: 200px;
                height: 500px;
                box-shadow: 0 2px 0.1px 0 rgba(0,0,0,0.24);
              }
              ul.category__second-child {
                background-color: #FFF;
                display: none;
                text-align: left;
                font-size: 14px;
                li.category__list__second {
                   color: black;
                   line-height: 30px;
                  &:hover{
                    background-color: #EEE;
                  }
                  &:hover ul.category__third-child {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 200px;
                    width: 280px;
                    height: 500px;
                    box-shadow: 0 2px 0.1px 0 rgba(0,0,0,0.24);
                  }
                }
                ul.category__third-child {
                  background-color: #FFF;
                  display: none;
                  text-align: left;
                  li.category__list__third {
                    color: black;
                    &:hover{
                      background-color: #EEE;
                    }
                  }
                }
              }
            }
          }
          li {
            padding: 0 0 0 16px;
              &:hover ul.brand__first-child{
                display: block;
              }
            ul.brand__first-child{
              background-color: #FFF;
              display: none;
              z-index: 50;
              position: absolute;
              top: 35px;
              width: 200px;
              box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
              text-align: left;
              li {
                &:hover {
                  background-color: red;
                  color: white;
                }
              }
            }
          }
        }
      }
      &__right {
        ul.right {
          display: flex;
          flex-direction: row;
          li {
            padding: 0 0 0 16px;
            position: relative;
              &:hover .mypage-box {
                display: block;
              }
            ul.mypage-box {
              display: none;
              width: 320px;
              background-color: #FFF;
              z-index: 50;
              position: absolute;
              top: 35px;
              .profile-area {
                padding-bottom: 10px;
                @include flex-tandem;
                background: url(user-bg.jpg);
                background-size: 100% auto;
                background-repeat: no-repeat;;
                img {
                  width: 70px;
                  border-radius: 50px;
                  position: relative;
                  top: 30px;
                }
                .profile-area__nickname {
                  padding-top: 20px;
                }
                .profile-area__list {
                  line-height: 10px;
                }
                .profile-area__sales-point {
                  padding-top: 20px;
                  ul {
                    border: solid 1px;
                    border-bottom: none;
                    border-color: #eee;
                    width: 280px;
                    li {
                      padding-left: 0;
                      margin-left: 0;
                      border-bottom: solid 1px;
                      border-color: #eee;
                      .sales {
                        @include flex-between;
                        .sales-left{
                          padding-left: 10px;
                        }
                        .sales-right {
                          @include flex-row;
                           i {
                            padding: 0 10px;
                             line-height: inherit;
                            color: #ccc;
                           }
                        }
                      }
                    }
                  }
                }
              }
              .mypage-nav {
                ul {
                  border: solid 1px;
                  border-bottom: none;
                  border-color: #eee;
                  li {
                    @include flex-between;
                    line-height: 50px;
                    border-bottom: solid 1px;
                    border-color: #eee;
                    i {
                      padding: 0 10px;
                      line-height: inherit;
                      color: #ccc;
                    }
                  }
                }
              }
            }
            i {
              display: inline-block;
            }
            span {
              vertical-align:top;
            }
            .avater-image {
              border-radius: 20px;
              vertical-align: top;
              width: 32px;
            }
            .login-link {
             padding: 7px 10px;
             background-color: red;
             color: white;
             border-radius: 5px;
            }
            .registration-link {
              border:solid 1px;
              padding: 6px 10px;
              color: #0099e8;
              border-radius: 4px;
              &:hover{
                background-color: #0099e8;
                color: white;
                transition-property: all;
                transition: 0.2s linear;
              }
            }
          }
        }
      }
    }
  }
}

.mercari-image {
  width: 150px;
}
