.item__details{
 width: 700px;
 height: 100%;
 margin: 0 auto;
 margin-top: 40px;
 background: #fff;
 padding: 24px 40px;
  &__main-content-boxes{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   padding-top: 16px;
    &__subject{
     position: relative;
	   min-width: 280px;
     max-width: 360px;
     min-height: 280px;
     box-sizing: border-box;
     img.main{
      width: 300px;
      height: 300px;
      object-fit: cover;
     }
    }
  }
}
.item__details{
  h2.item-name{
  text-align: center;
  }
}

.item__details__main-content{
  .photos{
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 0;
    .small-photo{
     display: flex;
     justify-content: space-between;
     img.sub{
      height: 75px;
      width: 75px;
      object-fit: cover;
     }
    }
  }
}



table.item-detail-table{
 border-collapse: collapse;
 height: 380px;
 width: 300px;
 text-align: left;
 th{
  font-weight: 400;
  width: 39%;
  font-size: 12px;
   td{
   	width: 100%;
   	font-size: 12px;
  }
 }
}

table.item-detail-table{
  th, td{
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    display: table-cell;
    vertical-align: middle;
  }
}


table.item-detail-table{
  border-width: 0;
  .user-rating{
    display: flex;
    padding-top: 8px;
    .fas.fa-laugh{
     color: pink;
    }
  }
}


.item-price-box{
  .buy-btn, .status-red{
   height: 50px;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 16px;
   font-weight: 600;
   font-size: 20px;
  }
}

.item-price-box{
 text-align: center;
 margin-top: 24px;
 .item-price.bold{
  font-size: 50px;
  margin-right: 16px;
 }
}

.item-tax{
 font-size: 10px;
  .item-shiooing-fee{
  	font-size: 16px;
  }
}
.item-button-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 16px 0 0;
  outline: 0;
 &__left{
   border-radius: 40px;
   button[type="button"]{
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 40px;
    outline: 0;
   }
  }
}
.item-description{
  p.item-description-inner{
    padding-top: 32px;
    white-space: pre-wrap;
  }
}

.item-edit__box{
  margin: 32px 16px;
  margin-top: 16px;
  margin-bottom: 16px;

}

.message-sumit__details{
 button[type="submit"]{
  width: 100%;
  margin: 8px 0 0;
  text-align: center;
  line-height: 48px;
  background:#aaa;
  font-size: 14px;
  outline: 0;
 }
}
.item-detail-message{
  ul{
    display: flex;
    justify-content: space-between;
  }
}

.message-content__box{
  background: white;
  width: 700px;
  margin: 0 auto;
  &__form{
  padding: 24px;
  margin-top: 8px;
   p.attention{
    padding: 8px;
    font-size: 14px;
    background:#fff6de;
    margin-bottom: 8px;
    text-align: left;
    .message-submit{
     margin-bottom: 24px;
    }
   }
  }
}

.message-content__box{
  textarea.text[type="text"]{
   width: 100%;
   min-height: 104px;
   padding: 10px;
   border: 1px solid #ccc;
   background:#fff;
   font-size: 16px;
   line-height: 1.5;
  }
}

.next_or_back{
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  line-height: 50px;
}

.item-snsbox{
  width: 700px;
  margin: 0 auto;
  height: 136px;
  line-height: 150px;
  background: white;
  margin-bottom: 48px;
  .sns{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 24px;
    i{
      padding-left: 10px;
    }
  }
}

.item-edit__box{
  width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 24px 16px;
  text-align: center;
   &__price{
    height: 50px;
    line-height: 50px;
    &__box__main-contents{
      background-color: #aaa;
    }
   }
}

.item-edit__box{
  button[type="submit"]{
  width: 100%;
  margin: 8px 0 0;
  text-align: center;
  line-height: 48px;
  background:#aaa;
  font-size: 14px;
  outline: 0;
  }
}
.items-show{
  width: 700px;
  margin: 0 auto;
 .item-show__list{
   section{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
   }
 }
}
.items-show{
  .item-show__list{
   img{
   width: 220px;
   height: 332px;
   object-fit: cover;
   }
  }
}

.item-show__list__box{
  display: flex;
  justify-content:space-between;
  width: 700px;
  &__in__detail{
  text-align: center;
  height: 110px;
  width: 220px;
  background: white;
   h3{
   height: 3em;
  }
 }
}

.item-show__list__box__detail__box__in__container__price.bold{
   display: flex;
   justify-content:space-between;
   font-size: 20px;
  }

 p.item-tax__position{
  text-align: left;
 }

 .item-edit__box__or{
  margin: 18px 0 10px;
 }








#openModal {
  position: relative!important;
  top: 0!important;
  left: 0!important;
  transform: inherit!important;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
  }
}
.modalWrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 600px;
  background-color: #fff;
  .modalContents{
    padding:64px;
    line-height: 1.5;
    text-align: center;
    .kakunin{
      font-size:16px;
    }
  }
}

.under-text-content{
  height: 64px;
  border-top: 1px solid #ccc;
  .cancel-button{
    width: 50%;
    line-height: 64px;
    text-align: center;
    list-style: none;
  }
}
.delete-product-button{
  width: 50%;
  line-height: 64px;
  text-align: center;
  border-left: 1px solid #ccc;
  color:#0099e8;
  list-style: none;
}
