.abeshi-right-content__box{
  background-color: white;
  padding: 16px;
  @include border-line;
  &__contena{
    width: 320px;
    margin: auto;
    &--border{
      @include border-line;
    }
    &__card{
      &--text{
        margin-top: 64px;
      }
      &--bar{
        margin:24px 0;
        background-color: #ea352d;
      }
    }
  }
}

.abeshi-card-number {
  display: flex;
  margin-top: 64px;
}

input.card-number {
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

ul.card_kind {
  margin-top: 8px;
  display: flex;
  li {
    margin-right: 8px;
  }
}

.abeshi-card-expiration {
  margin-top: 40px;
  display: flex;
}

.card-select-box {
  display: flex;
  line-height: 48px;
  p {
    margin-left: 8px;
  }
}

.abeshi-card-back {
  display: flex;
  float: right;
}

.card-select {
  background-color: #fff;
  width: 112px;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  -webkit-appearance: none;
}

.margin8 {
  margin-top: 8px;
}

.blue {
  color: #0099e8;
}

.margin74 {
  margin-top: 74px;
}

.relative-box {
  position: relative;
  .fa.fa-angle-down.absolute {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 27px;
    color: #888;
  }
}

.top12 {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 27px;
  color: #888;
}

.top40 {
  margin-top: 40px;
}
