.main-content{
  padding: 40px;
  width: 1100px;
  margin: 40px auto 0 ;
  display: flex;
  align-items:flex-start;
}



.sold-item{
  width: 40px;
  height: 40px;
  border-top: 20px solid red;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
  position: absolute;
  top: 16px;
  &--text{
    color: white;
    font-size: 11px;
    transform: rotate( -45deg );
    position: absolute;
    top:-15px;
    left: -23px;
  }
}

.main-content{
  padding: 40px;
  width: 1100px;
  margin: 40px auto 0 ;
  display: flex;
  align-items:flex-start;
}

.abeshi-right-content{
  width: 700px;
  #back-img{
    background-image:image-url("prof-back.JPG");
    height:200px;
    margin-bottom: 0px;
  }
  &__block{
    width:100%;
    flex-direction:column;
    margin-bottom: 40px;
    &--avatar{
      border-radius: 50%;
    }
    &__user-name{
      padding-top:8px;
    }
    &__user-about{
      padding-top: 8px;
    }
    p{
      display: inline-block;
    }
    span{
      margin-left:8px;
    }

    &__tabs{
      @include flex-row;
      height:74px;
      width: 100%;
      li{
       width: 50%;
       height: 100%;
        h4{
          @include full-size;
       }
      }
    }
    &__object{
      width: 100%;
      li{
        position: relative;
      }
      &__link-box{
        background-color: white;
        align-items:center;
        padding:16px;
        @include flex-row;
        @include border-line;
        .fa-angle-right{
          @include arrow-right;
          align-self:center;
        }
        &__img{
          position: relative;
        }
        &__body{
          width: 560px;
          padding-left: 20px;
          &--time{
            @include flex-row;
          }
          &__detail{
            @include flex-row;
            height: 30px;
            &--count-box{
              margin: 8px 6px 0 0;
              @include flex-row;
            }
          }
        }
        &--string{
          width: 660px;
          height:50px;
        }
      }
    }
    &__title{
      width: 100%;
      height: 72px;
      padding: 0 16px;
    }
  }

}

.top_image {
  object-fit: cover;
}

.trade_box {
  display: flex;
  line-height: 32px;
  vertical-align: middle;
  padding: 24px 0 8px;
  i {
    margin: 0 8px 0 0;
    font-size: 32px;
    color: #ea352d;
  }
}

p.wait {
  margin-top: 8px;
  padding-bottom: 24px;
}

.nothing_box {
  height: 236px;
  background-color: #fff;
  text-align: center;
  &_sub {
    padding-top: 45px;
    a.thin_mercari {
      img.mercari_thin {
        height: 80px;
        width: 100px;
      }
    }
  }
  &_text {
    padding-top: 30px;
    color: #B3B3B3;
  }
}

.width100 {
  width: 100%;
}

.padbot {
  padding-bottom: 24px;
}

.back-yellow {
  background-color: #fff6de!important;
  text-align: center;
}

.margin0 {
  margin-top: 0!important;
}

ul.flow {
  text-align: right;
  padding: 16px 24px 8px;
  background-color: white;
  li {
    color: #0099e8;
    line-height: 24px;
  }
}

.height {
  height: 236px;
}

.side_item {
  @include border-line;
  background-color: white;
  display: flex;
  li.left {
    width: 100px;
  }
  li.right {
    width: 180px;
    display: block;
    a {
      display: block;
      img.trade_item_img {
        width: 148px;
        height: 148px;
        objecet-fit: cover;
      }
      h4 {
        overflow: hidden;
      }
    }
    p {
      line-height: 16px;
    }
  }
}

.avater-image {
  border-radius: 50px;
}

.post-btn {
  color: #fff;
  width: 652px;
  height: 48px;
  border: 1px solid #ea352d;
  margin-top: 24px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ea352d;
}

.rating-box {
  @include flex-between;
}

.rate-box {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  margin: 24px 0 24px 0;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  .rate-face {
    font-size: 27px;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  label {
    padding-top: 45px;
    text-align: center;
    width: 70px;
    height: 70px;
    display: block;
    cursor: pointer;
  }
}

.comment-box {
  width: 260px;
  height: 120px;
  margin-top: 8px;
  padding: 10px 16px 8px 16px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.5;
}

.rate-action {
  width: 260px;
  height: 50px;
  display: block;
  margin-top: 8px;
  font-size: 14px;
  background-color: #aaa;
  color: #fff;
}

.normal {
  color: #FFCC00;
}

.good {
  color: pink;
}

.click {
  border: 3px solid #ccc;
}
