.user-detail {
  width: 700px;
  margin: 40px auto;
  background-color: #fff;
  &-profile-box {
    background: url(https://www.mercari.com/jp/assets/img/user/user_bg.jpg?40116333);
    padding-top: 50px;
    height: 323px;
    a.user-photo {
      width: 180px;
      height: 180px;
      display: block;
      margin: 0 auto;
      .avater-image-big {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      p.user-nickname {
        padding: 8px 0 16px;
        text-align: center;
        font-size: 18px;
      }
    }
    &-score {
      display: flex;
      p {
        padding: 0 12px;
        margin: 0 auto;
        pointer-events: none;
      }
    }
  }
  &-rating {
    padding: 14px;
    margin: 0 170px;
    display: flex;
    &-box {
      width: 100px;
      height: 28px;
      margin-right: 30px;
      font-size: 24px;
    }
  }
  &-introduce {
    border-top: 1px solid whitesmoke;
    padding: 30px 50px 60px;
  }
  &-item {
    display: flex;
    &-box {
      width: 220px;
      margin-right: 20px;
      position: relative;
      img.profile-img {
        width: 220px;
        height: 220px;
        object-fit: cover;
      }
      &-body {
        width: 220px;
        height: 110px;
        padding: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

.pdr30 {
  padding-right: 30px;
}

.b0 {
  position: absolute;
  bottom: 15px;
  font-size: 20px;
}

.sold-item-normal {
  width: 90px;
  height: 45px;
  border: 45px solid red;
  border-right: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid red;
  position: absolute;
}

.sold-item--text-normal {
  color: white;
  font-size: 21px;
  transform: rotate(-45deg);
  position: absolute;
  top: -27px;
  left: -45px;
}
