.search-result__container
 .search-result__container__left
  %select.select-default{placeholder: '並び替え'}
   .search-result__container__left__white
    .search-result__container__left__contents
     .serch-result__container__left__contents__list
 .search__pickup__area__text-center
  %h3 検索結果
  = render 'modules/index'