.search-result__container
 .search-result__container__left
  aaaaaa
  .search-result__container__left__contents
   .serch-result__container__left__contents__list
 .serch-result__main
  .search-result__left__main